.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}
.fclear {clear:both}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
body {margin:0;padding:0;background:#0A0A0A url(images/img01.gif) repeat left top;font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#787878}
h1, h2, h3 {margin:0;padding:0;font-weight:normal;color:#fff}
h1 {font-size:2em}
h2 {font-size:1.8em}
h3 {font-size:1.6em}
p, ul, ol {margin-top:0;line-height:180%}
ul, ol {}
a {text-decoration:none;color:#D4D4D4}
a:hover {}
#wrapper {margin:0 auto;padding:0;background:url(images/img02.jpg) repeat-x left top}
/* Header */
#header {width:950px;margin:0 auto;padding:0 0 0 30px}
/* Logo */
#logo {margin:0;padding:0;color:#000}
#logo h1, #logo p {margin:0;padding:0}
#logo h1 {letter-spacing:-1px;text-transform:lowercase;font-size:3.8em}
#logo p {margin:0;padding:0 0 0 2px;font:normal 14px Georgia, "Times New Roman",Times,serif;font-style:italic;color:#fff} 
#logo a {border:none;background:none;text-decoration:none;color:#fff}
/* Search */
#search {float:right;width:280px;height:60px;padding:20px 0 0 0;border:1px dotted #575757}
#search form {height:41px;margin:0;padding:10px 0 0 20px}
#search fieldset {margin:0;padding:0;border:none}
#search-text {width:170px;padding:6px 5px 2px 5px;border:1px solid #DEDEDE;background:#fff;text-transform:lowercase;font:normal 11px Arial,Helvetica,sans-serif;color:#5D781D}
#search-submit {width:50px;height:22px;border:none;background:#B9B9B9;color:#000}
/* Menu */
#menu {width:980px;height:90px;margin:0 auto;padding:0}
#menu ul {margin:0;padding:50px 0 0 0;list-style:none;line-height:normal}
#menu li {float:left}
#menu a {display:block;width:130px;height:30px;margin-right:1px;padding:9px 0 0 0;background:url(images/img02.gif) no-repeat left top;text-decoration:none;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;color:#fff;border:none}
#menu a:hover, #menu .current_page_item a {text-decoration:none}
#menu .current_page_item a {padding-left:0}
/* Page */
#page {width:980px;margin:0 auto;padding:0}
#page-bgtop {padding:20px 0}
/* Content */
#content {float:left;width:900px;padding:0}
.post {background:url(images/img04.jpg) repeat left top;border-bottom:1px dotted #171717;border-left:1px dotted #171717;border-right:1px dotted #171717;margin-bottom:40px}
.post .title {height:41px;padding:7px 0 0 30px;background:url(images/img03.jpg) repeat-x left top;letter-spacing:-.5px;color:#fff}
.post .title a {color:#fff;border:none}
.post .meta {margin-bottom:30px;padding:20px 30px 0 30px;text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;font-style:italic}
.post .meta .date {float:left}
.post .meta .posted {float:right}
.post .meta a {}
.post .entry {padding:0 30px 20px 30px;padding-bottom:20px;text-align:justify}
.links {padding-top:20px;font-size:12px;font-weight:bold}
/* Sidebar */
#sidebar {float:right;width:280px;margin:0;padding:0 20px 0 0;color:#787878}
#sidebar ul {margin:0;padding:0;list-style:none}
#sidebar li {margin:0;padding:0}
#sidebar li ul {margin:0 0;padding-bottom:30px}
#sidebar li li {line-height:35px;border-bottom:1px dotted #171717;margin:0 30px;border-left:none}
#sidebar li li span {display:block;margin-top:-20px;padding:0;font-size:11px;font-style:italic}
#sidebar h2 {height:38px;padding-left:30px;letter-spacing:-.5px;font-size:1.8em}
#sidebar p {margin:0 0;padding:0 30px 20px 30px;text-align:justify}
#sidebar a {border:none}
#sidebar a:hover {text-decoration:underline;color:#8A8A8A}
/* Calendar */
#calendar {}
#calendar_wrap {padding:20px}
#calendar table {width:100%}
#calendar tbody td {text-align:center}
#calendar #next {text-align:right}
/* Footer */
#footer {height:50px;margin:0 auto;padding:0 0 15px 0;background:#0A0A0A;border-top:1px solid #191919;font-family:Arial,Helvetica,sans-serif}
#footer div {padding:0 15%}
#footer p {margin:0;padding-top:20px;line-height:normal;font-size:9px;text-transform:uppercase;text-align:center;color:#A0A0A0}
#footer a {color:#8A8A8A}